html {
    font-size: 10px;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}


.container {
    max-width: 132rem;
    margin: 0 auto;
}


/* header block */

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    margin-top: 2rem;
}

.header-logo {
    display: flex;
    align-items: center;
}

.avatar {
    max-width: 56px;
}

.header-name {
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 2.8rem; 
    
    margin-left: 12px;
}

.header-menu {
    display: flex;
}

.header-menu__item {
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 1.6rem;
    color: #333333;

}

.btn {
    padding: 12px 24px;
    transition: background-color .2s linear;
}

.btn:hover {
    color: white;
    background-color: #a53dff;
}

/* /header */



/* main content */

.main {
    margin-top: 12.4rem;
}

.main-information {
    margin-top: 5.4rem;
}

.main-inner {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: inherit;
    font-weight: 600;
    font-size: 7.2rem;
    color: #132238;
    line-height: 8.4rem;
}

.about_me-text {
   font-weight: 400; 
   font-size: 1.8rem;
   line-height: 2.4rem;
   color: #556070;
   max-width: 648px;
}

.about > span {
    color: #132238;
}

.mt-24 {
    margin-top: 2.4rem;
}

.btn-active {
    background: #8400ff;
    color: white;
}


.main-experience {
    display: flex;
    gap: 1px;
    margin-top: 15.9rem;
}

.experience-card {
    background: #EDD8FF80;
    padding: 17px 65px;
    text-align: center;
}

.experience-title {
    font-weight: 600;   
    font-size: 3.2rem;
    color: #424E60;
}

.experience-text {
    font-weight: 400;
    font-size: 1.6rem;
    color: #697484;

    margin-top: 8px;
}

.main-photo {
    border-radius: 25px;
}

/* /main */


/* about */

.resume {
    padding: 112px;
    background: rgba(247, 247, 247, .8);
    margin-top: 5rem;
}

.resume-inner {
    display: flex;
    justify-content: space-between;
}

.resume-photo{
    display: block;
    border-radius: 21px;
}

.resume-title {
    color: #132238;
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 5rem;
}

.resume-text {
    max-width: 53.6rem;
    color: #87909D;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;

    margin-top: 3.2rem;
}

.buttons > a.btn {
    background-color: #a53dff;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;

    transition: color .2s linear;
}

.buttons {
    margin-top: 3.2rem;
}

.buttons > a.btn:hover {
    color: gold;
}

.download-image {
    filter: invert(44%) sepia(83%) saturate(5455%) hue-rotate(256deg) brightness(98%) contrast(107%);
    max-width: 15px;
    margin-right:  12px;
}

.download {
    padding: 12px 24px;
    background: transparent;
    border: 1px solid #A53DFF;
    color: #A53DFF;
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 4px;
}

/* /resume */


/* portfolio */

.portfolio {
    margin-top: 5rem;
    background: rgba(237, 216, 255, 0.2)
}

.portfolio-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cards {
    margin-top: 7rem;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    text-align: left;
}

.card-img {
    display: inline-block;
    border-radius: 8px;
}

.card-inner {
    padding: 32px;
    background: #fff;
    border-radius: 8px;
}

.card-cat {
    font-weight: 500;
    font-size: 1.2rem;
    color: #87909D;
}

.card-title {
    font-weight: 600;
    font-size: 1.8rem;
    color: #132238;
    margin-top: 4px;
}

.card-text {
    font-weight: 400;
    font-size: 1.4rem;
    color: #556070;
    margin-top: 12px;
    max-width: 36rem;
    margin-bottom: 2.4rem;
}

.arrow-right {
    margin-left: 1rem;
    padding-top: 2px;
}
