
<header>
    <div class="container">
        <div class="header-inner">
            
            <div class="header-logo">
                <img src="../static/img/svg/om-svgrepo-com.svg" alt="" class="avatar">
                <a href="#" class="header-name">Yegor</a>
            </div>

            <nav class="header-menu">
                <a href="{{ url_for('index') }}" class="header-menu__item btn">Home</a>
                <a href="{{ url_for('about') }}" class="header-menu__item btn">About</a>
                <a href="{{ url_for('portfolio') }}" class="header-menu__item btn">Portfolio</a>
                <a href="#" class="header-menu__item btn">Blog</a>
                <a href="{{ url_for('contact') }}" class="header-menu__item btn">Contact</a>
            </nav>

        </div>
    </div>    
</header>