
<header>
    <div class="container">
        <div class="header-inner">
            
            <div class="header-logo">
                <img src="../static/img/svg/om-svgrepo-com.svg" alt="" class="avatar">
                <a href="#" class="header-name">Yegor</a>
            </div>

            <nav class="header-menu">
                <a href="#" class="header-menu__item">Home</a>
                <a href="#" class="header-menu__item">About</a>
                <a href="#" class="header-menu__item">Process</a>
                <a href="#" class="header-menu__item">Portfolio</a>
                <a href="#" class="header-menu__item">Blog</a>
                <a href="#" class="header-menu__item">Services</a>
                <a href="#" class="header-menu__item btn">Contact</a>
            </nav>

        </div>
    </div>    
</header>