{% extends 'base.html' %}


{% block content %}
    <section>
        <div class="contact">
            <div class="container">
                <div class="contact-inner">
                    <div class="contact-right">
                        <div class="title fz-38">Let’s discuss your Project</div>
                        <div class="about_me-text mas-481">There are many variations of passages of Lorem Ipsu available. but the majority have suffered alte.</div>
                        <div class="contact-cards">
                            <div class="contact-card">
                                <img src="../static/img/svg/location_pin.svg" alt="" class="contact-img">
                                <div class="contact-card__text">
                                    <div class="contact-cat">Address</div>
                                    <div class="contact-info">New Mexico 31134</div>
                                </div>
                            </div>
                            <div class="contact-card">
                                <img src="../static/img/svg/location_pin.svg" alt="" class="contact-img">
                                <div class="contact-card__text">
                                    <div class="contact-cat">Address</div>
                                    <div class="contact-info">New Mexico 31134</div>
                                </div>
                            </div>
                            <div class="contact-card">
                                <img src="../static/img/svg/location_pin.svg" alt="" class="contact-img">
                                <div class="contact-card__text">
                                    <div class="contact-cat">Address</div>
                                    <div class="contact-info">New Mexico 31134</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="contact-left">
                        <div class="about_me-text">There are many variations of passages of Lorem Ipsu available,
                            but the majority have suffered alte.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}