{% extends "base.html" %}


{% block content %}
    <section>
        <div class="portfolio">
            <div class="container">
                <div class="portfolio-inner">

                <div class="title">Portfolio</div>
                <div class="about_me-text mt-24">There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration.</div>

                <div class="cards">
                   <div class="card">
                        <img src="https://via.placeholder.com/424x248" alt="" class="card-img">
                        <div class="card-inner">
                            <div class="card-cat">UI-UX DESIGN</div>
                            <div class="card-title">Product Admin Dashboard</div>
                            <div class="card-text">Vivamus eleifend convallis ante, non pharetra libero molestie laoreet. Donec id imperdiet lacus.</div>
                            <a href="" class="download">Case Study <img src="../static/img/svg/Vector.svg" class="arrow-right" alt=""></a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://via.placeholder.com/424x248" alt="" class="card-img">
                        <div class="card-inner">
                            <div class="card-cat">UI-UX DESIGN</div>
                            <div class="card-title">Product Admin Dashboard</div>
                            <div class="card-text">Vivamus eleifend convallis ante, non pharetra libero molestie laoreet. Donec id imperdiet lacus.</div>
                            <a href="" class="download">Case Study <img src="../static/img/svg/Vector.svg" class="arrow-right" alt=""></a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://via.placeholder.com/424x248" alt="" class="card-img">
                        <div class="card-inner">
                            <div class="card-cat">UI-UX DESIGN</div>
                            <div class="card-title">Product Admin Dashboard</div>
                            <div class="card-text">Vivamus eleifend convallis ante, non pharetra libero molestie laoreet. Donec id imperdiet lacus.</div>
                            <a href="" class="download">Case Study <img src="../static/img/svg/Vector.svg" class="arrow-right" alt=""></a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://via.placeholder.com/424x248" alt="" class="card-img">
                        <div class="card-inner">
                            <div class="card-cat">UI-UX DESIGN</div>
                            <div class="card-title">Product Admin Dashboard</div>
                            <div class="card-text">Vivamus eleifend convallis ante, non pharetra libero molestie laoreet. Donec id imperdiet lacus.</div>
                            <a href="" class="download">Case Study <img src="../static/img/svg/Vector.svg" class="arrow-right" alt=""></a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://via.placeholder.com/424x248" alt="" class="card-img">
                        <div class="card-inner">
                            <div class="card-cat">UI-UX DESIGN</div>
                            <div class="card-title">Product Admin Dashboard</div>
                            <div class="card-text">Vivamus eleifend convallis ante, non pharetra libero molestie laoreet. Donec id imperdiet lacus.</div>
                            <a href="" class="download">Case Study <img src="../static/img/svg/Vector.svg" class="arrow-right" alt=""></a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://via.placeholder.com/424x248" alt="" class="card-img">
                        <div class="card-inner">
                            <div class="card-cat">UI-UX DESIGN</div>
                            <div class="card-title">Product Admin Dashboard</div>
                            <div class="card-text">Vivamus eleifend convallis ante, non pharetra libero molestie laoreet. Donec id imperdiet lacus.</div>
                            <a href="" class="download">Case Study <img src="../static/img/svg/Vector.svg" class="arrow-right" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
                </div>
        </div>
    </section>
{% endblock %}